* {
  text-align: center;
  box-sizing: border-box;
}

/* Get colors using 'var(--main-color)' */
:root {
  --main-color: #65ca6e8f;
  --secendary-color: rgb(185, 137, 128);

  /* Color scheme for application */
  --slate-gray: #627c85ff;
  --alice-blue: #e1eff6ff;
  --english-vermillion: #d33e43ff;
  --raisin-black: #1c1d21ff;
  --blue-ncs: #2e86abff;

  --title-color-dark:  #464646;
  --title-color-light:  #072c5f;
  --shade3-color:  #0E57C5;
  --shade4-color:  #488CF2;
  --shade5-color:  #84B1F7;
  --shade6-color:  #ACCBF9;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --table1-color: #ACCBF9;
  --table2-color: #ffffff;
  --border-color: #000000;
  --background-color: #aaccfc;
  --remove-button: #e64e4e;
  --remove-hover-button: #e47c7c;
  --remove-hove: 

}



.namn{
  color: var(--secendary-color);
}

.adminTitle{
  margin-top: 30px;
  color: var(--title-color-dark);
}

.adminListGroup button{
  margin: 10px;
  margin-inline: 0px;
  background-color: var(--title-color-light)
}

.adminListGroup button:hover{
  background-color: var(--shade4-color)
}

.bgAdminPage {
  background-color: var(--background-color)
}

.handleUsersTop{
  background-color: var(--title-color-light)
}

.handleBookingTop{
  background-color: var(--title-color-light)
}

.removeUser button{
  background-color: var(--remove-button)
}

.removeUser button:hover{
  background-color: var(--remove-hover-button)
}

.handleUsersBody{
  background-color: var(--shade6-color)
}

.handleBookingBody{
  background-color: var(--shade6-color)
}


.handleUsersEmail{
  color: var(--table2-color);
}

.handleUsersLGHnr{
  color: var(--table2-color);
}

.handleBookingStart{
  color: var(--table2-color);
}

.handleBookingSlut{
  color: var(--table2-color);
}

.handleBookingLGHnr{
  color: var(--table2-color);
}

.handleBookingTaBort{
  color: var(--table2-color);
}

.addFacilityTop{
  background-color: var(--title-color-light)
}

.addFacility{
  background-color: var(--title-color-light)
}

.card-header-myFacilities{
  background-color: var(--title-color-light)!important
  
}

.handleFacilitiesBody{
  background-color: var(--shade6-color);
}

.bodyWrapper {
  min-height: 70vh;
}

.calendar .timeSelector {
  float: none !important;
}

html,body{
  height:100%;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
 Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bookingHistoryTop {
  background-color: var(--title-color-light)
}

.bookingHistoryStart{
  color: var(--table2-color);
}

.bookingHistorySlut{
  color: var(--table2-color);
}

.bookingHistoryLGHnr{
  color: var(--table2-color);
}

.bookingHistoryBody{
  background-color: var(--shade6-color)
}

.bookingHistory button{
  background-color: var(--remove-button)
}

.bookingHistory button:hover{
  background-color: var(--remove-hover-button)
}

.bookingSettingsBody{
  background-color: var(--title-color-light);
}

.login button{
  background-color: var(--shade4-color)
}

.login button :hover{
  background-color: var(--title-color-light)
}