* {
  text-align: center;
  box-sizing: border-box;
}

/* Get colors using 'var(--main-color)' */
:root {
  --main-color: #65ca6e8f;
  --secendary-color: rgb(185, 137, 128);

  /* Color scheme for application */
  --slate-gray: #627c85ff;
  --alice-blue: rgba(190, 195, 211, 0.808);
  --english-vermillion: #d33e43ff;
  --raisin-black: #1c1d21ff;
  --blue-ncs: #2e86abff;
  --calander-color: rgba(110, 127, 199, 0.116);
  --title-color-dark:  #464646;
  --title-color-light:  #ffffff;
  --shade1-color: #ffffff;
  --shade2-color:  #ffffff;
  --shade3-color:  #ffffff;
  --shade4-color:  #cbd2db;
  --shade5-color:  #ffffff;
  --shade6-color:  #ff0000;
  --shade7-color: #ffffff;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --table1-color: #ACCBF9;
  --table2-color: #ffffff;
  --border-color: #000000;
  --background-color: #ffffff;
  --remove-button: #e64e4e;
  --remove-hover-button: #e47c7c;
  --remove-hove: ;
  /* Discreete Palette */
  --c1-color: #B4B4CF;
  --c2-color: #7589F3;
  --c3-color: #F8F8FF;
  --c4-color: #cbd2db;

}

body{ 
  background: var(--c3-color) !important;
   background-repeat:round; 
} 

.namn{
  color: var(--c1-color);
}

.adminTitle{
  margin-top: 30px;
  color: var(--c2-color);
}

.list-group-item {
  background-color: var(--c4-color) !important;
  color: var(--c2-color);
}

.adminListGroup button{
  margin: 10px;
  margin-inline: 0px;
  background-color: var(--c2-color)
}

.adminListGroup button:hover{
  opacity: 0.8;
  font-weight: bold;
}

.bgAdminPage {
  background-color: var(--background-color)
}

.handleUsersTop{
  background-color: var(--title-color-light)
}

.handleUsersLghNr {
  color: var(--c2-color);
}

.removeUser button{
  background-color: var(--remove-button)
}

.removeUser button:hover{
  background-color: var(--remove-hover-button)
}

.handleUsersBody{
  background-color: var(--c4-color)
}

/* HandleBookings css */
.handleBookingLghNr, .handleBookingSlut, .handleBookingStart, .handleUsersEmail, .handleBookingTaBort {
  color: var(--c2-color) !important;
}

.handleBookingTop{
  background-color: var(--c4-color)
}

/*Facilities admin*/
.addFacility{
  background-color: var(--title-color-light)
}

.fac-div-border {
  background-color: var(--c3-color);
  border-style: ridge;
  border-width: 10px;
  border-color: var(--c4-color);
}

.fac-div-border h3{
  margin-bottom: 0;
}


.handleFacilitiesBody{
  background-color: var(--c4-color);
}

.bodyWrapper {
  min-height: 70vh;
}

.calendar .timeSelector {
  float: none !important;
}

html,body{
  height:100%;
  width:100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
 Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bookingHistoryTop {
  background-color: var(--title-color-light)
}

.bookingHistoryLghNr, .bookingHistorySlut, .bookingHistoryStart{
  color: var(--c2-color) !important;
}

.bookingHistoryBody{
  background-color: var(--c4-color)
}

.bookingHistory button{
  background-color: var(--remove-button)
}

.bookingHistory button:hover{
  background-color: var(--remove-hover-button)
}

.bookingSettingsBody{
  background-color: var(--c3-color);
}

.bookingSettingsBody label{
  color: var(--c2-color);
  font-size: large;
  font-weight: bold;
}

.MuiTableRow-root.MuiTableRow-head {
  background-color: var(--c3-color);
  border-style: ridge;
  border-width: 10px;
  border-color: var(--c4-color);
  border-bottom-style: none;
}

.login button{
  background-color: var(--shade4-color)
}

.login button :hover{
  background-color: var(--title-color-light)
}
