.instruction-container{
    margin: 0% auto;
    background-color: var(--shade5-color);
    border-style: double;
    border-width: thick;
    border-color:rgb(243, 231, 231);  
}

.instruction-container h4 {
    border-radius: 10px;
    font-weight: bolder;
    color: var(--c2-color);
    margin-bottom: 0%;
}
.tab-content{
    border-style:ridge;
    border-width: 20px;
    border-color: var(--c4-color);
}

.instruction-container ol {
    font-weight: bold;
}

ol li {
    margin: 2px;
    border-style: groove;
    border-width: 0.5px;
    border-color: rgba(240, 248, 255, 0.308);
    text-align: left;
}
ol li:hover{
    margin: 2px;
    border-style: groove;
    border-width: 0.5px;
    border-color: var(--c2-color);
    cursor:context-menu;
}

.intruction-button{
    border-style: double;
    border-width: thick;
    border-color:rgb(243, 231, 231);  
}

.intruction-button button{
    margin-top: 2%;
    width: 300px;
}

.header.row.flex-middle{
    background-color: var(--c4-color);
}

.days.row {
    background-color: var(--c4-color);
    color: rgb(255, 255, 255);
}

.days.row div {
    font-weight: 300;
    font-size: medium;
    background-color: var(--calander-color) !important;
    color: var(--c2-color);
}


.col.col-center span {
    color: var(--c2-color) !important;
}

.timeSelector {
    background-color: var(--c4-color)!important;
    font-size: large!important;
}

button.timeSelector p{
    display: none !important;
}

button.timeSelector::after {
    size: 200px !important;
    content: 'Välj denna dag';
    font-size: xx-large;
    font-weight: 400;
}

.days.row div:nth-child(1){
    visibility: hidden;
}


.days.row div:nth-child(1):after {
    margin-left: 25%;
    content: 'Söndag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(2){
    visibility: hidden;
}


.days.row div:nth-child(2):after {
    margin-left: 25%;
    content: 'Måndag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(3){
    visibility: hidden;
}


.days.row div:nth-child(3):after {
    margin-left: 25%;
    content: 'Tisdag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(4){
    visibility: hidden;
}


.days.row div:nth-child(4):after {
    margin-left: 25%;
    content: 'Onsdag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(5){
    visibility: hidden;
}


.days.row div:nth-child(5):after {
    margin-left: 25%;
    content: 'Torsdag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(6){
    visibility: hidden;
}


.days.row div:nth-child(6):after {
    margin-left: 25%;
    content: 'Fredag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

.days.row div:nth-child(7){
    visibility: hidden;
}


.days.row div:nth-child(7):after {
    margin-left: 25%;
    content: 'Lördag' !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}