.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top: 6rem;
}

.card-img-top{
    transform: scale(1);
    max-height: 250px;
}
.card {
    height: auto;
    width: auto;
    justify-content:space-between;
  }

