.main-footer {
    background-color: var(--bg-color);
    position: relative;
    margin-top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-footer h4 {
    margin: 5px;
    font-size: medium;
    color: var(--text-color);
}

.main-footer a {
    margin: 5px;
    font-size: small;
    color: var(--text-color-light);
}

.footer-buttom a {
    font-size: large;
}