.selected-tab {
    background-color: var(--shade7-color);
    border-radius: 20px;
    font-weight: 900;
    opacity: 0.9;
}

.subnav {
    width: 70%;
    text-align: center;
}


.head_menu ul
{
    padding:0px;
    margin:0;
    list-style:none;
    position:relative;
    right:0;    
}

.navbar {
    background-color: var(--shade4-color);
    font-size: large;
    font-weight: 400;
}

.nav-tabs {
    background-color: var(--shade4-color);
    border-style:groove;
    margin-bottom: 1%;
}

.nav-item.nav-link.active{
    background: var(--shade7-color);
    font-weight: bolder;
    opacity: 0.8;

}

.border-bottom.border-left.border-right {
    background: var(--shade4-color);
    
}