.selected-tab {
    background-color: black;
    border-radius: 10px;
}

.subnav {
    width: 70%;
    text-align: center;
}


.head_menu ul
{
    padding:0px;
    margin:0;
    list-style:none;
    position:relative;
    right:0;    

}