.btn-primary-spacing {
margin: 5px;
margin-bottom: 5px !important;
}

.removeBooking button{
    background-color: var(--remove-button)
}

.loggin-info {
  margin-top: 5%;
  margin-bottom: 3%;
  border-style:solid;
  border-width: thin;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.055);
  background-color: var(--shade6-color);
}